h1 {
    color: green;
    border: 3px dashed red;
    padding: 10px 50px 40px 20px;
    margin-right: 30px;
    margin-left: 20px;
}

a {
    color: rgb(90, 90, 90);
    text-decoration: none;
}

#book {
    color: orange;
}

.sensation {
    color: blue;
}

.author {
    border: 1px solid pink;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    margin: 3px;
}

table, tr, td, th {
    border: 1px solid black;
}