  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='lib.jpg') }}" type="image/x-icon">
</head>
<body>
    
    <a href="{{ url_for('authors') }}">Authors</a>
    <a id="book" href="{{ url_for('books') }}">Books</a>
    <h3>Add a book to our library</h3>
    <form action="{{ url_for('add') }}" method="POST">
        <input type="text" placeholder="Author" name="author">
        <br><br>
        <input type="text" placeholder="Book" name="book">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>